@import "../styles/root.css";

/*  styling for all score.vue objects */

.hl {
	background-color: var(--donkerBlauw);
	opacity: 1;
}

/* verticale lijn tussen score bubble en block quote */
.vl {
	background-color: var(--donkerGrijs);
	height: 250px;
	display: none;
	width: 2px;
}

.section-score {
	background-color: var(--wit);
}

.header-score {
	color: var(--oranje);
}
.text-score {
	color: var(--zwart);
	font-weight: 500;
	font-size: clamp(16px, 2.5vw, 22px);
	/* font-size: 1.1rem; */
	max-width: 850px;
	padding: 1rem;
}

.score-bubble {
	border: 1px solid;
	height: 100px;
	width: 100px;
}

.score-slecht {
	background-color: var(--scoreSlecht);
	border-color: var(--borderSlecht);
}

.score-matig {
	background-color: var(--scoreMatig);
	border-color: var(--borderMatig);
}

.score-goed {
	background-color: var(--scoreGoed);
	border-color: var(--borderGoed);
}

/* #uitslag {
} */

.legenda-bubble {
	border: 1px solid;
	height: 25px;
	width: 25px;
}

.meter {
	background: transparent;
	/* margin-top: -25px; */
	height: 35%;
	width: 35%;
}

.label-naw {
	margin-top: 12px;
	text-align: left;
	width: 75px;
}

.text-start {
	width: 50%;
}
.text-danger {
	list-style-type: none;
	color: black;
	font-size: 12px;
	padding: 0.5rem;
	margin-top: 40px;
}

.text-danger li {
	padding: 0.5em;
	list-style-type: none;
}

.text-score p {
	padding: 0.5rem;
}

.text-center-score {
	width: 100%;
}

.adviesBtn {
	width: 100%;
	border-color: transparent;
}

.btnFormFault {
	margin: 10px auto;
	max-width: 400px;
	background-color: var(--grijs);
	color: var(--zwart);
	padding: 0.5rem;
}

.btnFormFault:hover {
	background-color: var(--borderSlecht);
	border-color: var(--zwart);
	color: var(--zwart);
}

.btn-primary:hover {
	color: white;
}
.form form {
	height: auto;
}

.form-score {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

/* .form-row {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 550px;
} */

/* .col-md-6 {
	width: 100%;
} */

.foqusRaport {
	position: absolute;
	right: 210px;
	top: 730px;
	width: 15%;
}

.disclaimer {
	max-width: 800px;
}

/* screen size 1400px */
@media only screen and (max-width: 1399px) {
	.foqusRaport {
		display: none;
	}

	.scoreMeterContainer {
		display: flex;
		justify-content: center;
	}
	.meter {
		padding: 5%;
	}
	/* svg van meter */
	svg[data-v-125eeefc] {
		width: 250px;
	}
}
