:root {
    --wit: #ffffff;
    --lichtBlauw: #d3f1f3;
    --donkerBlauw: #08344d;
    --lichtTurquoise: #1dbac1;
    --donkerTurquoise: #1e8a8c;
    --oranje: #f6af23;
    --grijs: #e7e6e6;
    --donkerGrijs: #A6A6A6;
    --zwart: #030303ec;
    /* kleuren score bubbles */
    --scoreSlecht: #ff0000;
    --borderSlecht: #9e0000;
    --scoreMatig: #ed7d31;
    --borderMatig: #af5c23;
    --scoreGoed: #00b050;
    --borderGoed: #00843b;
    
    /* margins */
    --marginLeftText: 5%;

    /* sizes */
    --width: 90%;
    --pageHeight: 265mm;
    --headerHeight: 10%;
    --footerHeight: 2000px;
}


.onload{
    display: none;
}

.text{
    color: var(--zwart);
}

.main-container{
    color: var(--donkerTurquoise);
    display:block;
    font-family: Avenir, Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 500;
    margin: 0 auto;
    text-align: start;
}

.page {
    display: flex;
    flex-direction:column;
    background-color: var(--wit);
    height: var(--pageHeight);
    padding: 0%;
    margin: 0%;
}

.header{
    align-self: flex-start;
    background-color: var(--wit);
    margin: 0% 5%;
    padding: 0%;
    height: var(--headerHeight);
}

.footer{
    align-self: flex-end;
    background-color: var(--wit);
    /* height: var(--footerHeight); */
    margin: 0%;
    padding: 0%;
}

.sec-intro{
    align-self: center;
    background-color: var(--grijs);
    color: var(--donkerTurquoise);
    margin: 0%;
    padding: 0%;
    text-align: center;
    width: var(--width);
    height: 75%;
}

.sec-intro h1{
    color: var(--donkerBlauw);
    font-size: 2.25rem;
    font-weight: 950;
    margin-bottom: 5%;
}

.sec-intro h2 {
    margin-bottom: 5%;
}

.p-intro{
    text-align: start;
    margin: 5% auto;
    width: 90%;
}

.bekijk-resultaat{
    color: var(--wit);
    background-color: var(--lichtTurquoise);
    border: 1px solid var(--donkerTurquoise);
    border-radius: 15% / 100%;
    margin: auto;
    height: 25px;
    width: 200px;
    padding-top: 10px;
    text-align: center;
}

.sec-conlusie{
    align-self: center;
    background-color: var(--grijs);
    width: var(--width);
}

.vraag-container {
    display:flex;
}

.vraag-text-container {
    width: 70%;
}

.sec-vragen{
    background-color: var(--grijs);
    color: var(--donkerTurquoise);
    margin: 0 auto 20px;
    height: 175px;
    width: var(--width);
}

.sec-vragen h2{
    font-size: 1.25rem;
    margin-left: var(--marginLeftText);
}

.sec-vragen p{
    margin-left: var(--marginLeftText);
}

.disclamer{
    margin: auto;
    margin-top: 40px;
    width: var(--width); 
}

/* SVG  */

.vraag-svg-container {
    width: 30%;
}

/* Vragen score kleur */
.vraag-groen{
    border: 6px solid var(--scoreGoed);
}

.vraag-oranje{
    border: 6px solid var(--scoreMatig);
}

.vraag-rood{
    border: 6px solid var(--scoreSlecht);
}

/* TO REMOVE */
.to-do{
    color:red;
    width: 150px;
    height: 150px;
    background-color:aliceblue;
}


